- connectionURL : jdbc:mysql://10.0.0.242:3308/db_chr_bigjob?connectTimeout=1000&useUnicode=true&characterEncoding=utf-8&autoReconnect=true
  driversClass : com.mysql.jdbc.Driver
  username : myjobnew
  password : saongroup
  minPoolSize : 2
  maxPoolSize : 5
  idleTimeout : 30
  queryTimeout : 5
  insertUpdateTimeout : 5
  
  

